<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/stype.css' %}">
</head>
<div>
    <!-- Start Navbar -->
    <nav>
        <div class="containerNav">
            <div class="nav-con">
                <div class="logo">
                    <a href="#"><img src="/static/images/coffeeiconWH.png" alt=""></a>
                </div>
                <ul class="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/">About</a></li>
                    <li><a href="/coffee">Coffee</a></li>
                    <li><a href="/maker">Maker</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->

    <!-- ContenBody Start -->
    <div id="about">
        <div class="containerBody">
            <div class="body-con">
                <div class="poflie">
                    <img src="static\images\coffeeiconWH.png" alt="">
                </div>
                <div class="poflie-t">
                    <h1>About</h1><br>
                    <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe adipisci molestiae alias, dicta ullam deleniti accusantium ex, illum qui sint molestias facere unde! Quasi perferendis quod neque laboriosam minima modi, nostrum possimus laudantium porro quam officia pariatur dolorem natus optio tenetur accusamus autem iste illo! Eligendi voluptatibus maiores dolorum a nesciunt quis architecto ullam officia laboriosam quam voluptatem delectus dolorem dolore dolores consequuntur, quia itaque explicabo amet ipsum accusamus sequi nihil quos fugit velit. Error quibusdam minima quas eos in. Obcaecati dolores consectetur nostrum vero doloribus dolorum molestiae asperiores adipisci.</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- contenBody End -->
    <!-- info Start -->
    <div id="flashnew">
        <div class="containerBody2">
            <div class="text">
                <h1>Flash New!</h1>
            </div>
            <div class="body2-con">
                <div class="slideshow-container">
                    <div class="mySliedes-fade">
                        <a href="#"><img src="static\images\americano_wide.png" style="width: 100%"></a>
                        <h1>AmericanoOre</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- info End -->
</body>
</html>