<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maker</title>
    <link rel="stylesheet" href="{% static 'css/project.css' %}">
</head>
<body>
    <!-- Start Navbar -->
    <nav>
        <div class="containerNav">
            <div class="nav-con">
                <div class="logo">
                    <a href="#"><img src="/static/images/coffeeiconWH.png" alt=""></a>
                </div>
                <ul class="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/">About</a></li>
                    <li><a href="/coffee">Coffee</a></li>
                    <li><a href="/maker">Maker</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->

    <section class="hero">
        <div class="containerNav">
            <div class="hero-con">
                <div class="hero-info">
                        <h3>เครื่องชงกาแฟ ( Coffee Maker )</h3>
                        <p> เครื่องชงกาแฟ แบ่งออกเป็น 7ประเภท ดังนี้ 
                            เครื่องชงกาแฟแบบหยดหรือแบบดริป (Drip Coffee Maker), 
                            เครื่องชงกาแฟแบบเป็นกาหยดหรือแบบนีโอโพลิแทน ดริป พอต(Neopolitan Drip Pot), 
                            เครื่องชงกาแฟแบบฝรั่งเศสหรือเฟรนซ์เพรส (French Press), 
                            เครื่องชงกาแฟแบบเอสเปรสโซ (Espresso), 
                            เครื่องชงกาแฟแบบมอคคาพอต (Mocca pot), 
                            เครื่องชงกาแฟแบบเพอร์โคเลเตอร์ (Percolator), 
                            เครื่องชงกาแฟแบบสุญญากาศ (Vacuum)
                        </p>
                </div>


                <div class="hero-img">
                        <img src="/static/images/coffee maker.jpg" alt="">
                </div>

            </div>

        </div>
    </section>

    <section class="blog">
        <div class="containerNav">
            
            <div class="blog-con1">
                <div class="blog-item1">
                    <img src="/static/images/Drip coffee maker.jpg" alt="">
                    <h3>เครื่องชงกาแฟแบบหยดหรือแบบดริป (Drip Coffee Maker)</h3>
                    <p>เครื่องชงกาแฟประเภทนี้เป็นที่นิยมกันโดยทั่วไป เนื่องจาก ใช้ง่าย ขั้นตอนไม่ยุ่งยาก หลักการทำงาน ใส่น้ำลงในส่วนที่ใช้ขังน้ำเมื่อน้ำเดือดจะถูกจ่ายไปยังด้านบนของผงกาแฟ ฟิลเตอร์ และหยดลงเป็นน้ำกาแฟ ลงบนกากาแฟที่รองรับอยู่ ข้อดี ระยะเวลาในการชงค่อนข้างสั้น ซึ่งเป็นสาเหตุให้กาแฟที่ได้ไม่เข้มข้นเท่าใดนัก เนื่องจากไอน้ำจะผ่านเมล็ดกาแฟเพียงบางส่วน</p>
                </div>
            </div>

            <div class="blog-con2">
                <div class="blog-item2">
                    <img src="/static/images/Neapolitan.jpg" alt="">
                    <h3>เครื่องชงกาแฟแบบเป็นกาหยดหรือแบบนีโอโพลิแทน ดริป พอต(Neopolitan Drip Pot)</h3>
                    <p>หลักการทำงาน มีลักษณะการทำคล้ายกับเครื่องชงกาแฟแบบหยด ต่างกันตรงที่ เครื่องชงแบบนี้จะไม่มีพวยกา กาแฟบดจะถูกใส่ลงในถ้วยกรองซึ่งอยู่ภายในตะกร้าของหม้อ เครื่องชงชนิดนี้สามารถหาซื้อได้ง่าย ราคาไม่แพง</p>
                </div>
            </div>

            <div class="blog-con3">
                <div class="blog-item3">
                    <img src="/static/images/French.jpg" alt="">
                    <h3>เครื่องชงกาแฟแบบฝรั่งเศสหรือเฟรนซ์เพรส (French Press)</h3>
                    <p> มีลักษณะเป็นแบบลูกสูบ ตัวเครื่องประกอบด้วย กระบอกแก้วและก้านโลหะตรงกลาง มีด้ามจับอยู่ตรงด้านนอกของกระบอก มีปากของกาไว้สำหรับริน ส่วนล่างของตัวเครื่องเป็นแบบฟิลเตอร์ เมื่อจะชงกาแฟ ให้ใส่ผงกาแฟลงในกระบอก รินน้ำร้อนใส่ให้ท่วมผงกาแฟ รอจนชุ่มน้ำจึงกดลูกสูบลงจึงได้น้ำกาแฟออกมา</p>
                </div>
            </div>

            <div class="blog-con4">
                <div class="blog-item4">
                    <img src="/static/images/Moca.jpg" alt="">
                    <h3>เครื่องชงกาแฟแบบมอคคาพอต (Mocca pot)</h3>
                    <p>เครื่องชงประเภทนี้มีหลักการเกี่ยวกับความดันไอน้ำคล้ายๆกับแบบเอสเปรสโซ โดยตัวเครื่องจะแยกออกเป็นสองส่วน ส่วนล่างเป็นส่วนใส่น้ำ ส่วนบนมีฟิลเตอร์สำหรับใส่ผงกาแฟ เมื่อต่อสองส่วน เข้าด้วยกันจะมี หลักการทำงาน คือ เครื่องจะทำงานโดยต้มน้ำกลั่นไอผ่านผงกาแฟ เมื่อเครื่องหยุดเดือด จะได้น้ำกาแฟที่มีคุณภาพใกล้เคียงกับการชงโดยใช้เครื่องเอสเปรสโซ</p>
                </div>
            </div>

            <div class="blog-con5">
                <div class="blog-item5">
                    <img src="/static/images/espresso.jpg" alt="">
                    <h3>เครื่องชงกาแฟแบบเอสเปรสโซ (Espresso)</h3>
                    <p>เป็นเครื่องชงกาแฟที่นิยมใช้กันมากในร้านกาแฟที่มีขนาดกลาง หลักการทำงาน ใช้หลักการจากความดันไอน้ำ เพื่อกลั่นเอารสชาติของกาแฟออกมา โดยที่ใช้น้ำน้อยที่สุด โดยรสชาติที่ได้ จะมีความหอมอย่างเต็มที่

                        โดยเครื่องชงกาแฟประเภทนี้จะมีการผลิตออกมาหลายแบบและหลายขนาด ซึ่งถ้าขนาดใหญ่ราคาก็จะสูงตามไปด้วย</p>
                </div>
            </div>

            <div class="blog-con6">
                <div class="blog-item6">
                    <img src="/static/images/Perco.jpg" alt="">
                    <h3>เครื่องชงกาแฟแบบเพอร์โคเลเตอร์ (Percolator)</h3>
                    <p>ครื่องชงกาแฟประเภทนี้จะมีลักษณะคล้ายกาต้มรูปล่างคล้ายคูลเลอร์ โดยมากจะเห็นเครื่องชงประเภทนี้ตามสถานที่จัดเลี้ยงหรือตามโรงแรมต่างๆ หลักการทำงาน ตัวเครื่องจะต้มน้ำพอเดือด และจะไหลไปตามท่อปั๊มผ่านตะกร้าที่ใส่ผงกาแฟไว้ น้ำกาแฟที่ได้ จะหยดลงสู่ส่วนล่างสุดของเหยือกซึ่งจะมีตัวเปิดปิดอยู่ด้านนอก เครื่องชงกาแฟประเภทนี้มีราคาค่อนข้างสูง เนื่องจาก มีปุ่มควบคุมความร้อนและอุณหภูมิของน้ำสม่ำเสมอ</p>
                </div>
            </div>

            <div class="blog-con7">
                <div class="blog-item7">
                    <img src="/static/images/Vaccum.jpg" alt="">
                    <h3>เครื่องชงกาแฟแบบสุญญากาศ (Vacuum)</h3>
                    <p>ครื่องชงประเภทนี้ตัวเครื่องจะเป็นแก้วใส หลักการทำงาน จะอาศัยหลักความดันไอน้ำ โดยผงกาแฟจะถูกบดใส่ไว้ในฟิลเตอร์ซึ่งอยู่ส่วนบนของตัวเครื่อง และมีกาน้ำซึ่งเป็นแก้วทรงกลม อยู่ด้านล่างของตัวฟิลเตอร์ น้ำจะถูกต้มด้วยตะเกียงแอลกอฮอล์ด้านนอก เมื่อน้ำเดือดไอน้ำจะลอยขึ้นสู่ด้านบน ผ่านผงกาแฟและขังอยู่บนนั้น จนเมื่อมีการดับไฟน้ำกาแฟถึงจะไหลออกมา ผ่านกรองลงมายังการองรับด้านล่างโดยเครื่องกรองประเภทนี้จะทำให้ได้กาแฟที่มีกลิ่นและรสชาติดี แต่การชงจะได้ปริมาณกาแฟในปริมาณที่ไม่มาก</p>
                </div>
            </div>

        </div>
    </section>

    
</body>
</html>